
p{
    margin: 20px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 900px;
    text-align: center;
}
a{
    color: inherit;
    margin: auto;
    text-decoration: none;
    width: 200px;
    display: block;
}
a:hover{
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 42%, rgba(255,255,255,1) 100%);
}
p{
    border: 2px white solid;
    border-radius: 20px;
}
